.image-container {
  background-color: rgb(207, 203, 203);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.container:hover .caption {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container:hover img {
  transform: scale(1.3) rotate(15deg);
}

/* effect-2 */
.caption-2 {
  transform: translateX(100%);
}
.container:hover .caption-2 {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(0);
}

.fe-2:hover img {
  transform: scale(1.3) rotate(-15deg);
}

/* effect-3 */

.caption-3 {
  transform: translateX(-100%);
}

.fe-3:hover .caption-3 {
  transform: translateX(0);
  background-color: black;
}

.fe-3:hover img {
  transform: translateX(100%);
}

/* effect-4 */
.caption-4 {
  top: unset;
  bottom: 0;
  height: 30%;
  padding-top: 1rem;
}
.caption-4 p {
  margin-top: 5px;
}
.fe-4:hover .caption-4 {
  background-color: black;
}
.fe-4:hover img {
  transform: translateY(-30%);
}

/* effect-5 */
.fe-5 {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.caption-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s;
}

.caption-5:hover {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.fe-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  z-index: 1;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}

.fe-5:hover::before {
  transform: translateY(0);
  transition-delay: 0s;
}

.caption-5 h1,
.caption-5 p {
  margin: 0;
  letter-spacing: 1px;
}
.caption-5 h1 {
  text-transform: uppercase;
  font-weight: 500;
}
.caption-5 p {
  background-color: #ae895d;
  padding: 4px 8px;
  margin-top: 2px;
}

/* effect-6 */
.fe-6 {
  border: 5px solid rgb(221, 221, 221);
}

.fe-6:hover img {
  transform: scale(1.2) rotate(9deg);
}

/* effect-7-8 */
.fe-7,
.fe-8,
.fe-9,
.fe-10,
.fe-11 {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.fe-7::before,
.fe-8::before,
.fe-9::before,
.fe-10::before,
.fe-11::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 200%;
  background-color: #2d3436;
  opacity: 0.8;
  transition: all 0.25s;
  transform: translate(400px, 300px) rotate(45deg);
}

.caption-7,
.caption-8,
.caption-9,
.caption-10,
.caption-11 {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caption-7 h2,
.caption-8 h2,
.caption-9 h2,
.caption-10 h2,
.caption-11 h2 {
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(200px, -200px);
  transition: all 0.25s;
}

.caption-7 p,
.caption-8 p,
.caption-9 p,
.caption-10 p,
.caption-11 p {
  font-size: 16px;
  width: 80%;
  text-align: center;
  align-self: center;
  transform: translate(-200px, 200px);
  transition: all 0.25s;
}

.caption-7 a,
.caption-8 a,
.caption-9 a,
.caption-10 a,
.caption-11 a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  align-self: center;
  transition: all 0.25s;
  transform: translateY(120px);
}
/* 7 */
.fe-7:hover::before {
  transform: translate(-50px, -150px) rotate(45deg);
}

.fe-7:hover h2 {
  transform: translate(0, 0);
  transition-delay: 0.3s;
}
.fe-7:hover p {
  transform: translate(0, 0);
  transition-delay: 0.4s;
}
.fe-7:hover a {
  transform: translateY(0);
  transition-delay: 0.5s;
}

/* 8 */
.fe-8::before {
  transform: translate(650px, -100px) rotate(180deg);
}
.fe-8:hover::before {
  transform: translate(0, 0) rotate(0deg);
}

.fe-8 h2 {
  transform: translateY(-150px);
}

.fe-8:hover h2 {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.fe-8 p {
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s;
}

.fe-8:hover p {
  transform: translateX(0) rotate(0deg);
  transition-delay: 0.4s;
}

.fe-8 a {
  transform: translateY(-300px);
}
.fe-8:hover a {
  transform: translateY(0);
  transition-delay: 0.3s;
}

/* effect-9 */
.fe-9,
.fe-10,
.fe-11 {
  background-color: #444;
  border: 10px solid white;
}

.fe-9 h2,
.fe-9 p,
.fe-9 a,
.fe-10 h2,
.fe-10 p,
.fe-10 a,
.fe-11 h2,
.fe-11 p,
.fe-11 a {
  transform: translate(0);
}

.fe-9 img {
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.fe-9:hover img {
  transform: scale(0);
  transition-delay: 0s;
}

.fe-9::before {
  background-color: #006266;
  transform: scale(0) rotate(-180deg);
  transition: all 0.5s;
}

.fe-9:hover::before {
  transform: scale(1) rotate(0);
  transition-delay: 0.5s;
}

.fe-9 h2,
.fe-9 p,
.fe-9 a {
  opacity: 0;
}

.fe-9:hover h2,
.fe-9:hover p,
.fe-9:hover a {
  opacity: 1;
  transition-delay: 1s;
}

/* effect-10 */

.fe-10::before {
  background-color: #004547;
  transform: translate(0) rotate(0);
  opacity: 0;
  transition: all 0.3s;
}

.fe-10:hover::before {
  opacity: 1;
}

.caption-10 h2,
.caption-10 p {
  transform: scale(10);
  opacity: 0;
  transition: all 0.3s;
}

.caption-10 a {
  transform: translateY(110px);
}

.fe-10:hover h2,
.fe-10:hover p {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.2s;
}

.caption-10:hover a {
  transform: translateY(0);
  transition-delay: 0.2s;
}

/* effect-11 */
.fe-11 {
  background-color: #444;
  border: 10px solid white;
}
.fe-11::before {
  transform: translate(0) rotate(0);
  background-color: #006266;
  opacity: 0;
  transition: all 0.3s;
}
.fe-11 img {
  transform: all 0.5s;
}
.fe-11:hover img {
  transform: rotate(720deg) scale(0);
  opacity: 0;
}
.fe-11:hover::before {
  opacity: 1;
  transition-delay: 0.5s;
}
.fe-11 a,
.fe-11 h2,
.fe-11 p {
  transform: translateY(-300px);
  transition: all 0.2s;
}
.fe-11:hover a,
.fe-11:hover h2,
.fe-11:hover p {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.fe-11:hover h2 {
  transition-delay: 0.7s;
}

.fe-11:hover p {
  transition-delay: 0.9s;
}
